a{
    text-decoration: none;
    color: white;
}

h1{
    display: flex;
    color: #FF670A;
    padding: 20px;
    width: 100%;
    justify-content: center;
}

.btn{
    background-color: #FF670A;
    font-weight: 500;
    color: white;
    width: 200px;
    border-radius: 50px;
    margin: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
}
.btn:hover{
    background-color: #fda56f;
}

.back{
    width: auto;
    padding: 10px 20px;
    
}
