a{
    text-decoration: none;
    color: white;
}

h1{
    display: flex;
    color: #FF670A;
    padding: 20px;
    width: 100%;
    justify-content: center;
}

input[type="file"]::file-selector-button{
    display: none;
}


input[type="file"]::before{
    display: flex;
    justify-self: start;
    align-items: center;
    text-align: center;
    content: "  +";
    width: 27px;
    background-color: #FF670A;
    font-weight: 500;
    color: rgb(255, 255, 255);
    margin: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    -webkit-appearance: none; /* désactive le style natif */
    appearance: none;
    background-color: #fff;   /* ton fond blanc ou transparent */
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: none !important;
    outline: none !important;
    padding: 0 15px;
    height: 45px;
}

/* Hack pour autofill / style natif Mac */
input:-webkit-autofill,
input:-internal-autofill-selected {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset !important; /* remplace le bleu */
    -webkit-text-fill-color: #000 !important;
}

img{
    width: 200px;
    height: 200px;
    object-fit:scale-down;
    object-position: center;
    border: #000 1px solid;
    border-radius: 30px;
}


label{
    margin-bottom: 5px;
}

textarea{
    resize: none;
    height: 200px;
    border-radius: 15px;
    border: gray 0.5px solid;
    padding: 5px;
    padding-left: 10px;
}


.btn{
    background-color: #FF670A;
    font-weight: 500;
    color: white;
    width: 200px;
    border-radius: 50px;
    margin: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
}
.btn:hover{
    background-color: #fda56f;
}
.btn-title{
    height: 45px;
    letter-spacing: 0.1em;
    font-weight: bold;
}



.back{
    width: auto;
    padding: 10px 20px;
    border: none;
}

.edit{
    border-radius: 15px;
    height: 45px;
    padding-left: 15px;
    border: rgb(174, 174, 174) 0.5px solid;
}

.home{
    height: 40px;
}

.log-title{
    font-size: 1.5em;
    font-weight:600;
    text-align: left;
  
}

.login-form{
    max-width: 500px;
}

.list > img{
    width: 150px;
    height: 150px;
}

.mdp{
    font-size: 0.6em;
    font-weight: bold;
    text-decoration: underline;
}

.title{
    font-size: 1.1em;
    font-weight: 500;
}

.welcome-title{
    font-size: 5em;
}






