
h1{
    display: flex;
    color: #120aff;
    padding: 20px;
    width: 100%;
    justify-content: center;
}




.adm-txt{
    color: #0a5cff;
}



.btn{
    background-color: #0a5cff;
    font-weight: 500;
    color: white;
    width: 200px;
    border-radius: 50px;
    margin: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
}
.btn:hover{
    background-color: #6fc4fd;
}
.btn-title{
    height: 45px;
    letter-spacing: 0.1em;
    font-weight: bold;
}